<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>

<div class = "container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo artigo</h2> 
        </div>
        <div class="card-body">               
            <form action="/articles/save" method="POST">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo"><br>
                <textarea rows="20" col="10" class="form-control" id="article" name="body" placeholder ="Escreva aqui seu artigo" ></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%= category.id %>"> <%= category.title %> </option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>
<script> src="/tinymce/js/tinymce/tinymce.min.js"</script>
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>